<div>
    <h2>Add Employee</h2>
    <form *ngIf="newEmployee">
        <div class="form-group">
            <label for="name">Employee Name:</label>
            <input id="name" name="name" [(ngModel)]="newEmployee.name">
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input id="location" name="location" [(ngModel)]="newEmployee.location">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" name="email" [(ngModel)]="newEmployee.email">
        </div>
        <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input id="mobile" name="mobile" [(ngModel)]="newEmployee.mobile">
        </div>
        <button (click)="addEmployee()">Submit</button>
    </form>
</div>

<div>
    <h2>form using component</h2>
    <app-employee-form></app-employee-form>
</div>